# Process files to unify data for town Wizna

Data description:

- Meteorological station ID (PL: Kod stacji)                                              9
- Meteorological station name (PL: Nazwa stacji                                           30
- Year (PL: Rok)                                                                          4
- Month (PL: Miesiąc)                                                                     2
- Total monthly precipitation (PL: Miesięczna suma opadów [mm])                           8/1
- Measurement status SUMM (PL: Status pomiaru SUMM)                                             1
- Number of days with snow fall(PL: Liczba dni z opadem śniegu)                           5
- Measurement status LDS(PL: Status pomiaru LDS)                                          1
- Maximal precipitation (PL: Opad maksymalny [mm])                                        8/1
- Measurement status MAXO (PL: Status pomiaru MAXO)                                       1
- First day of maximal precipitation (PL: Dzień pierwszy wystąpienia opadu maksymalnego)  2
- Last day of maximal precipitation (PL: Dzień ostatni wystąpienia opadu maksymalnego)    2
- Number of days with snow cover(PL: Liczba dni z pokrywą śnieżną)                        5
- Measurement status LDPS (PL: Status pomiaru LDPS)                                       1

- Status "8" - missing measurement (PL: Status "8" brak pomiaru)
- Status "9" - lack of meteorological phenomenon(PL: Status "9" brak zjawiska)

In [29]:
import pandas as pd
import os

In [12]:
column_names = ['station_ID', 'station_name', 'year', 'month', 'total_precip', 'SUMN_status', 'n_snow_fall', 'LDS_status', 'max_precip', 'MAXO_status', 'first_day_max_precip', 'last_day_max_precip', 'n_snow_cover', 'LDPS_status']

In [35]:
data = pd.read_csv('Data/o_m_2001.csv', delimiter=',', skipinitialspace=True, encoding = 'latin2', header=None, names=column_names)

In [22]:
# data.columns = column_names

In [36]:
data[data['station_name']=='WIZNA']

,station_ID,station_name,year,month,total_precip,SUMN_status,n_snow_fall,LDS_status,max_precip,MAXO_status,first_day_max_precip,last_day_max_precip,n_snow_cover,LDPS_status
10657,253220190,WIZNA,2001,1,23.0,NaN,4,NaN,4.9,NaN,3.0,NaN,0,8.0
10658,253220190,WIZNA,2001,2,16.0,NaN,9,NaN,4.3,NaN,5.0,NaN,0,8.0
10659,253220190,WIZNA,2001,3,26.2,NaN,4,NaN,8.2,NaN,19.0,NaN,0,8.0
10660,253220190,WIZNA,2001,4,78.4,NaN,3,NaN,11.8,NaN,20.0,NaN,0,8.0
10661,253220190,WIZNA,2001,5,55.1,NaN,0,NaN,17.9,NaN,18.0,NaN,0,8.0
10662,253220190,WIZNA,2001,6,25.0,NaN,0,NaN,6.3,NaN,8.0,NaN,0,8.0
10663,253220190,WIZNA,2001,7,72.7,NaN,0,NaN,18.5,NaN,8.0,NaN,0,8.0
10664,253220190,WIZNA,2001,8,33.1,NaN,0,NaN,14.1,NaN,28.0,NaN,0,8.0
10665,253220190,WIZNA,2001,9,133.2,NaN,0,NaN,24.6,NaN,18.0,NaN,0,8.0
10666,253220190,WIZNA,2001,10,39.8,NaN,0,NaN,10.4,NaN,3.0,NaN,0,8.0
10667,253220190,WIZNA,2001,11,30.8,NaN,10,NaN,4.4,NaN,28.0,NaN,0,8.0
10668,253220190,WIZNA,2001,12,25.9,NaN,18,NaN,4.4,NaN,28.0,NaN,0,8.0

In [37]:
# stwórz listę plików w katalogu
def list_files_in_directory(directory):
    list_of_files=[]
    for file in os.listdir(directory):
        list_of_files.append(file)
    list_of_files.sort()
    return list_of_files
list_files_in_directory('Data')

# stwórz pustą ramkę danych 
precip_data = pd.DataFrame(columns=column_names)
# iteruj przez pliki w katalogu by wczytać plik do tymczasowej ramki

# odfiltruj dane do WIZNY

# załaduj dane do pustej ramki

Empty DataFrame
Columns: [station_ID, station_name, year, month, total_precip, SUMN_status, n_snow_fall, LDS_status, max_precip, MAXO_status, first_day_max_precip, last_day_max_precip, n_snow_cover, LDPS_status]
Index: []